<html>
<head>
    <title>Wikipedia Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    body{
        background-color:grey;
    }
    .size{
        font-size: 15vh;
        color:red;
    }
    .size2{
        font-size:5vh;
        color:white;
        margin-top:-25px;
    }
    .form-rounded{
        border-radius: 9rem;
    }
    .cards{
        font-weight:bold;
    }
</style>
<body>
<div class="container-fluid">
    <div class="container" style="background-color:black; margin-top:100px;">
        <p class="text-center size">Wikipedia Viewer</p>
        <p class="text-center size2">Find Anything Here!</p>
        <div class="container" style="width: 50vw;">
                <div class="row" style="margin-top: 40px;">
                    <form action="http://localhost:5000/search_result" method="POST">
                        <input type="text" class="form-control form-rounded" name="wiki_search" placeholder="Search Wikipedia...">
                        <div class="col-md-4">
                            <button type="submit" class="form-control btn-warning w3-margin-top"><span class="glyphicon glyphicon-search"></span>Search</button>
                        </div>
                    </form>
                    <form action="http://localhost:5000/randompage" method="POST">
                        <div class="col-md-8">
                            <button type="submit" class="form-control btn-success">Random Search</button>
                        </div>
                    </form>
                </div>
        </div>
        {% block content %}
            {% set count = namespace(a=0) %}
            {% for  i,j  in result|zip(tuple1) %}
                <div class="container" style="width:80vw;">
                    <div class="card" style="background-color:white">
                        <div class="card-body">
                            <h3 class="card-title cards"><a href="{{ tuple2[count.a] }}" target="_blank">{{ i }}</a></h3>
                            <p class="card-text">{{ j }}</p>
                        </div>
                    </div>
                </div>
                {% set count.a = count.a + 1 %}
            {% endfor %}
        {% endblock content %}
    </div>
</div>
</body>
</html>

